/typEnv/
/__pycache__/
app/admin/__pycache__/
app/main/__pycache__/
app/__pycache__/
files/
!/files/
tests/__pycahce__/
.env.develop
.env.test
/.cache/
tests/__pycache__/
/testit.py
migrations/__pycache__/
