<!DOCTYPE html>
<html>
<head>
    <title> Just saying hi</title>
</head>
<body>
    <h5>hi {{user_obj.name}}</h5>
    <br>
    <br>
    <pre>Its so great that you decided to get onboard Eanmble_ts predictions site.
        in the following days we hope to grow your bankroll without any hustle.

        Eanmble offers another prediction service that will be coming up soon, Eanmble_sp.
        We will notify you as soon as the service is up and running, in the meanwhile lets make
        some dough.

        yours,
        Eanmble_ts admin
    </pre>
</body>
</html>