{% extends 'base.html' %}
{% super() %}
{% block title %}Adminstrators Panel{% endblock %}

{% block body %}
    <!-- the display table using the parsed in parameter: predictions-->
    <table class="table">
    <tr>
    <th>predictions_id</th>
    <th>home team</th>
    <th>away team</th>
    <th>tipster url</th>
    <th>tipster name</th>
    <th>pick</th>
    <th>odds</th>
    <th>confidence</th>
    <th>approved</th>
    </tr>

    {% for prediction in predictions %}
        <tr>
        <th>prediction.predictions_id</th>
        <th>prediction.home team</th>
        <th>prediction.away team</th>
        <th>prediction.tipster url</th>
        <th>prediction.tipster name</th>
        <th>prediction.pick</th>
        <th>prediction.odds</th>
        <th>prediction.confidence</th>
        <th>prediction.approved</th>
        </tr>
    {% endfor %}

</table>
{% endblock %}